.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-container button {
  width: 5rem;
  margin-bottom: 2rem;
}

.home-page-container h3:hover {
  font-size: 125%;
}

.school-link {
  margin: 0.75rem 0;
}
