button {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

textArea {
  resize: vertical;
}

.app {
  padding: 2rem;
}

.logo {
  text-decoration: none;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
